#bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    widht: 100%;
    height: 100%;
}
#bg:hover
{
    background-color: #e9e6d3;
}
.narrow{

    width:400px;
    height:90%;
}
.wide{
    width:400px;
    height:90%;
}
.item{
    background: #fff;
    margin-top: 20px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    text-align: center; 
    list-style: none; 
    position:fixed;
    top:0;
}

.number{
position:relative;
top:50%;
 text-align: center; 

}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    padding: 15px 25px 15px 25px;
    background: #fff;
    border: 3px solid black;
    font: 32px Arial, sans-serif;
}

ul{padding:0px;}
.wide:last-child {width:100%; max-width:960px;}
